{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <nav class="navbar navbar-inverse nav">
                <div class="navbar-header nav">
                    <a href="front/profil.html.twig"><img src="img/stevemcquizzmini.png" class="navbar-brand"></a>
                    </a>
                </div>
        </nav>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="bonjour font-vintage">BONJOUR {{ user.username|upper }} !</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 left">
                    <h2 class="font-vintage stats">TES STATS DE MABOUL</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="g1"></div>
                        </div>
                    </div>
                    <h2 class="font-vintage stats">TON SCORE DE GUEDIN</h2>

                        <div class="total font-vintage">
                        1001 POINTS !!!
                        </div>
                    <h2 class="font-vintage classement">CLASSEMENT GENERAL</h2>
                </div>
                <div class="col-md-6 col-xs-12 right">
                    <h2 class="font-vintage stats">CHOISIS TON OU <br/>TES THEMES DE PREDILECTION</h2>
                    <div class="row">
                        <form method="POST" action="">
                        {% for categorie in categories %}
                        {#<div class="col-xs-4 themes font-vintage">#}
                            {#<p class="theme">{{ categorie.nom }}</p>#}
                        {#</div>#}
                        <div class="col-xs-4 themes box font-vintage">
                            <input type="checkbox" class="hidden font-vintage" name="categorie" value={{ categorie.nom }}><label for="categorie" for=""><p class="font-vintage checkbox">{{ categorie.nom }}</p></label>
                        </div>



                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                           <button type="button" class="btn btn-default btn-lg btn-block bouton yiha font-vintage" data-toggle="modal" data-target="#new"type="submit"><p class="text-center btntext">YIHA !</p></button>
                        </div>
                        </form>


                    </div>
                </div>


            </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src={{ asset("js/script.js")}}></script>
    <script src={{ asset("js/raphael-2.1.4.min.js")}}></script>
    <script src={{ asset("js/justgage.js")}} ></script>
    <script>
         var g1 = new JustGage({
             id: "g1",
             value: 7,
             min: 0,
             max: 10,
             title: "Informatique   ",
         });

</script>
{% endblock %}