{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>Question</th>
                <th>Validation</th>
                <th>Indice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.niveau }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.validation }}</td>
                <td>{{ question.indice }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_show', { 'id': question.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
